@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
#title{
    color: #d21617;
    display:flex;
    justify-content: center;
    margin: 20px;
    font-weight: bold;
    text-shadow: 1px 0 20px darkred;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 40px;
    justify-content: space-between;
    margin: 30px;
}

.gallery-photos {
    height: 220px;
    width: 220px;
    background-repeat: no-repeat;
    border-radius: 2rem;
    border: 1px solid darkgray;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);  
    filter: grayscale(70%);
    transition: 0.5s;
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto; 
}

.gallery-photos:hover {
    transform: scale(1.2);
    cursor: pointer;
    filter: grayscale(0%);
    z-index: 1; 
}

@media(max-width: 1249px){
    #gallery{
        grid-template-columns: repeat(4, 1fr);
    }

}

@media(max-width:999px){
    #gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:768px){
    .gallery-photos{
        height: 170px;
        width: 170px;
    }
}

@media(max-width:600px){
    .gallery-photos{
        height:130px;
        width:130px;
    }
}

@media(max-width:496px){
    #gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:280px){
    .gallery-photos{
        height: 100px;
        width:100px;
    }
}