/* css reset = css para retirar o padrão do navegador */
* {
    margin:0;
    padding:0;
    text-decoration: none;
}

.pai {
    width: 50%;
    height: 500px;
    background-color: red;
}
/* % = leva em consideração o valor do pai */
.filho {
    background-color: green;
    width: 50%;
    height: 50%;
}